In [8]:
print("hello")
print("world")

hello
world

In [1]:
row=5
i=1
while i<=row:
    print("*" *i)
    i+=1

*
**
***
****
*****

In [ ]:
row=5
i=1
while i<=row:

    print("*"*i)
    i+=1

row=5
i=1
while i<=row:
    print("*"*i)
   i+=1

In [2]:
x=5
y="Gadha"
z=True
var1=3.5
var_=6+5j
print(x)
print(y)
print(z)
print(var1)
print(var_)

5
Gadha
True
3.5
(6+5j)

In [4]:
num1=37
num2=48
print(num1+num2)
num1=20
num2=30
num3=num1+num2
print(num3)
print(num1,num2,num3)

85
50
20 30 50

In [11]:
x="hello"
y="world"
print(x,y)

hello world

In [12]:
x,y,z=3,4.2,"hello"
print(x,y,z)

3 4.2 hello

In [15]:
x=y=z="hai"
print(x,y,z)

hai hai hai

In [1]:
#this is a single line comment
print("hello,world")#this is also a comment

hello,world

In [43]:
"""this is a multi-line comment
or a docstring
it provides documentation for a function,class or module.
"""

'this is a multi-line comment\nor a docstring\nit provides documentation for a function,class or module.\n'

In [5]:
x=5
y="hello"
print(x,y)

5 hello

# Function type

In [6]:
x=5
y="hello"
z=[1,2,3]
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'list'>

In [8]:
num_str="54"
print(type(num_str))

num_int=int(num_str)
print(type(num_int))

<class 'str'>
<class 'int'>

In [10]:
num_str="3.4"
print(type(num_str))

num_float=float(num_str)
print(type(num_float))

<class 'str'>
<class 'float'>

In [11]:
my_list=[1,2,3]
print(type(my_list))

my_list ti

<class 'list'>

In [9]:
username=input("enter your name :")
print("hello", username)

enter your name :Gadha
hello Gadha

In [23]:
#concatinate two num
x=input("enter the first number:")
y=input("enter the second number:")
print("the result is:",x+y)

enter the first number:67
enter the second number:56
the result is: 6756

In [1]:
#sum of 2 digits
x=int(input("enter the first number"))
y=float(input("enter the second number"))
print("the result is: " ,x+y)

enter the first number23
enter the second number34
the result is:  57.0

# String

In [4]:
#paragraph
a=""" kkjkkkkkhjhhgfgddffraa'
    jjkjkjklmjjjjjjjjjjjjjjnnnnnnnnnnmmmmmfffvv,
    hhhhhhhhhhhhnnnnnnnutyfccoooooooommmmmmmm."""
print(a)

 kkjkkkkkhjhhgfgddffraa'
    jjkjkjklmjjjjjjjjjjjjjjnnnnnnnnnnmmmmmfffvv,
    hhhhhhhhhhhhnnnnnnnutyfccoooooooommmmmmmm.

# Length

In [10]:
my_string="hello,world"
length=len(my_string)
print(length)

11

# String indexing

In [11]:
my_string="hello"
first_char=my_string[2]
print(first_char)

l

In [13]:
my_string="Hello world"
sliced_string=my_string[2:8]
print(sliced_string)

llo wo

In [13]:
my_string="hello world"
sliced_string=my_string[2:9:2]
print(sliced_string)

lowr

In [14]:
my_string="hello world"
last_char=my_string[-1]
print(last_char)

d

In [15]:
my_string="hello world"
first_ommitted_char=my_string[:5]
print(first_ommitted_char)

hello

In [17]:
my_string="hello world"
end_ommitted_char=my_string[5:]
print(end_ommitted_char)

 world

In [3]:
my_string="hello world"
select_char=my_string[0:5:4]
print(select_char)

ho

In [ ]:
#reverce a string
my_string="hello world"
reversed_string=my_string[::-1]
print(reversed_string)

# Concatinate

In [4]:
a="hello"
b="world"
c=a+b
print(c)

helloworld

In [19]:
a="hello"
b="world"
c=a + " " +b
print(c)

hello world

In [7]:
c=a+" "+b+" "+('!'*10)
print(c)

hello world !!!!!!!!!!

# String method

In [8]:
#string method
a="hello"
print(a.upper())

a="HELLO"
print(a.lower())

a="    hello, world   "
print(a.strip())

HELLO
hello
hello, world

In [29]:
alpha_check="hello".isalpha()
print(alpha_check)

digit_check="123".isdigit()
print(digit_check)

alnum_check="hello123".isalnum()
print(alnum_check)

True
True
True

In [5]:
my_string="hello world"
new_string=(my_string.replace("hai","hello"))
print(new_string)

hello world

In [33]:
string="apple,orange,banana"
friuts=string.split(",")
print(string)

apple,orange,banana

# Formating

In [36]:
name="sanu"
age=20
formatted_string="my name is %s and iam %d years old." %(name,age)
print(formatted_string)

name="aju"
age=20
formatted_string=f"My name is %s and iam %d years old."%(name,age)
print(formatted_string)

name="aju"
age=20
formatted_string="My name is{} and iam {}years old".format(name,age)
print(formatted_string)

my name is sanu and iam 20 years old.
My name is aju and iam 20 years old.
My name isaju and iam 20years old

In [37]:
pi= 3.141592653559
formatted_pi ="The pi value is: {:0.3f}".format(pi)
print(formatted_pi)

The pi value is: 3.142

# Boolean
# Arithematic operator

In [41]:
x=10
y=5
addition=x+y
subtraction=x-y
division=x/y
multiplication=x*y

modulus=x%y
exponentiation=x**y
floor_division=x//y

print("addition:" ,addition)
print("subtraction:" ,subtraction)
print("division:" ,division)
print("multiplication:" ,multiplication)
print("modulus:" ,modulus)
print("exponentiation:" ,exponentiation)
print("floor_division:" ,floor_division)

addition: 15
subtraction: 5
division: 2.0
multiplication: 50
modulus: 0
exponentiation: 100000
floor_division: 2

In [39]:
x=["apple", "banana"]
y=["apple", "banana"]
z=x
print(x is z)
print(x is y)
print(x == y)
print(x is not z)
print(x is not y)
print(x != y)

True
False
True
False
True
False

# membership operator

In [11]:
x=["apple" ,"banana"]
print("banana" in x)

x=["apple" ,"banana"]
print("pinapple"not in x)

True
True

# list elements

In [51]:
numbers=[1,2,3,4,5,6,7,8,9]
first_element=numbers[0]
second_element=numbers[1]
last_element=numbers[-1]

print(first_element)
print(second_element)
print(last_element)

print(numbers[2:5])
print(len(numbers))

1
2
9
[3, 4, 5]
9

# Adding elements

In [18]:
fruits=["apple", "banana"]
fruits.append("chery")
print(fruits)

fruits=["apple", "banana"]
fruits.insert(1,"orange")
print(fruits)

['apple', 'banana', 'chery']
['apple', 'orange', 'banana']

# Changing values

In [5]:
fruits=["apple", "banana","chery","banana"]
fruits[1]="melon"
print(fruits)
fruits[1:3]=["papaya", "kiwi"]
print(fruits)

['apple', 'melon', 'chery', 'banana']
['apple', 'papaya', 'kiwi', 'banana']

In [1]:
fruits=["apple","banana"]
more_fruits=["cherry", "grapes"]
fruits.extend(more_fruits)
print(fruits)

['apple', 'banana', 'cherry', 'grapes']

# Remove

In [14]:
fruits=["apple", "banana","chery","banana"]
fruits.remove("banana")
print(fruits)

['apple', 'chery', 'banana']

In [13]:
fruits=["apple", "banana","chery","banana"]
remove_fruit=fruits.pop() 
print(fruits)

['apple', 'banana', 'chery']

In [19]:
fruits=["apple", "banana","chery","banana"]
fruits.clear()
print(fruits)

[]

In [23]:
fruits=["apple", "banana","chery","banana"]
del fruits[0]
print(fruits)

['banana', 'chery', 'banana']

# Reversing

In [24]:
numbers=[1,2,3,4,5]
numbers.reverse()
print(numbers)

[5, 4, 3, 2, 1]

In [26]:
numbers.sort(reverse=True)
print(numbers)

[5, 4, 3, 2, 1]

# Sort

In [27]:
numbers=[1,3,6,5,8,9]
numbers.sort()
print(numbers)

[1, 3, 5, 6, 8, 9]

# Nested list

In [28]:
nested_list=[[1,2,3],[4,5,6],[7,8,9]]
print(nested_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Count

In [1]:
numbers=[1,3,6,5,8,9]
count=numbers.count(3)
print(count)

1

# Max,Min,Sum

In [30]:
numbers=[1,3,6,5,8,9]
print(max(numbers))
print(min(numbers)) 
print(sum(numbers))

9
1
32

In [47]:
numbers=[1,3,6,5,8,9]
numbers.remove(1)
numbers.append(1)
x=numbers
print(x)

[3, 6, 5, 8, 9, 1]

In [42]:
numbers=[1,3,6,5,8,9]
print(numbers)

[1, 3, 6, 5, 8, 9]

In [3]:
x=["apple","banana","cherry"]
y=list(x)
y[1]="kiwi"
x=tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

In [7]:
mytuples=["apple","banana","cherry"]
y=list(mytuples)
y.append("orange")
mytuple=tuple(y)
print(mytuples)

['apple', 'banana', 'cherry']

In [ ]:
mytuples=["apple","banana","cherry"]
y="orange"

In [9]:
fruits=["apple","banana","cherry","mango","jackfruit","kiwi"]
x,*y,z=fruits
print(x)
print(y)
print(z)

apple
['banana', 'cherry', 'mango', 'jackfruit']
kiwi

In [11]:
fruits=["apple","banana","cherry",]
x,y,z=fruits
print(x)
print(y)
print(z)

apple
banana
cherry

# set

In [12]:
numbers={1,2,3,1,2,3}
print(numbers)

{1, 2, 3}

In [2]:
numbers={1,2,3,4,5,6}
fruits=["apple","banana","cherry",]
mixed=(1,"hello",3.14,"true")

print(numbers)
print(fruits)
print(mixed)

{1, 2, 3, 4, 5, 6}
['apple', 'banana', 'cherry']
(1, 'hello', 3.14, 'true')

In [17]:
set1={"apple","banana","cherry"}
set1.add("orange")
print(set1)

{'cherry', 'orange', 'banana', 'apple'}

In [18]:
set1={"apple","banana","cherry"}
set2={"apple","banana","kiwi","mango"}
set1.update(set2)
print(set1)

{'cherry', 'banana', 'mango', 'apple', 'kiwi'}

In [20]:
set1={"apple","banana","cherry"}
set1.remove("cherry")
print(set1)

{'banana', 'apple'}

In [21]:
set1={"apple","banana","cherry"}
set1.discard("apple")
print(set1)

{'cherry', 'banana'}

In [22]:
myset={"apple","banana","cherry"}
x=myset.pop()
print(x)
print(myset)

cherry
{'banana', 'apple'}

In [24]:
myset={"apple","banana","cherry"}
myset.clear()
print(myset)

set()

In [25]:
set1={1,2,3}
set2={4,5,3}
union_set=set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [26]:
set1={1,2,3}
set2={4,5,3}
intersection_set=set1.intersection(set2)
print(intersection_set)

{3}

In [7]:
set1={1,2,3}
set2={7,5,3}
symmetric_set=set1.symmetric_difference(set2)
print(symmetric_set)

{1, 2, 5, 7}

In [8]:
set1={1,2,3}
set2={4,5,3}
symmetric_difference_set=set1.symmetric_difference(set2)
print(symmetric_difference_set)

{1, 2, 4, 5}

# IF

In [1]:
a=206
b=208
if(b>a):
    print("b is greaterthan a")
print("condition checked")

b is greaterthan a
condition checked

In [2]:
a=206
b=208
if(b>a or b==a):
     print("b is greaterthan a")
print("condition checked")

b is greaterthan a
condition checked

In [3]:
a=206
b=208
if(b>a):
    print("b greaterthan a")
else:
    print("a greaterthan b")

b greaterthan a

In [4]:
a=5
b="hello"
typ=type(a)

if(type==int):
    print("number")
else:
    print("string")

string

In [2]:
a=int(input("enter first number:"))
b=int(input("enter second number:"))

if(a>b):
    print("a greater than b")
elif(b>a):
    print("b greater than a")
else:
    print("a equal b")

enter first number:45
enter second number:54
b greater than a

In [5]:
a=200
b=280
if (a>b): print(a>b)

In [ ]:
a=200
b=208
print("a is large") if(a>b) else print("b")

# Nested if

In [ ]:
a=10

if(a>20):
    print("above 10")
    if(a>30)
    print("above 30")
    else:
        print("below 30")

# Pass stmt

In [ ]:
a=206
b=208
c
print("a")
if(a>b):
    pass
print("b")
print(b+2)

print("c")

In [16]:
a=int(input("enter a number"))
if(a>0):
    print("positive number")
else:
   print("negative number")

enter a number45
positive number

# Check 3 ages

In [10]:
a=int(input("enter first age:"))
b=int(input("enter second age:"))
c=int(input("enter third age:"))

if(a>b and a>c):
    print(a , "is largest")
if(b>c):
    print(b ,"is largest")
    print(c, "is middle")
else:
    print(c ,"is largest")

enter first age:5
enter second age:6
enter third age:7
7 is largest

In [19]:
a=(input("enter an alphabet"))
if (a=='a'or a=='e'or a=='i' or a=='o'or a=='u'):
    print(a ,"is a vowel")
else:
    print(a, "is not a vowel")

enter an alphabetg
g is not a vowel

In [4]:
row=5
for i in range(row,1):
    for j in range(,row+1):
        print("j",end='')