In [1]:
 for x in "bananapple":
    print(x)

b
a
n
a
n
a
p
p
l
e

In [9]:
fruit=["apple","banana","cherry","kiwi","grapes","mango"]
for x in fruit:
    if x =="kiwi":
        break
    print(x)

apple
banana
cherry

In [10]:
for x in range(2,10):
    print(x)

2
3
4
5
6
7
8
9

In [5]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [12]:
colors=["red","yellow","green"]
fruits=["apple","banana","mango"]
for x in colors:
    for y in fruits:
        print(x,y)
        print("-------------")

red apple
-------------
red banana
-------------
red mango
-------------
yellow apple
-------------
yellow banana
-------------
yellow mango
-------------
green apple
-------------
green banana
-------------
green mango
-------------

In [1]:
numbers=[3,4,5,6,7,8,9]
sum_=0
for num in numbers:
    sqr=num**2
    sum_=sum_+sqr
print("the sum of sqr is",sum_)

the sum of sqr is 280

In [13]:
for num in range(10,20):
    for i in range(2,num):
        if num%i==0:
            j=num/i
    break
else:
    print(num, "is a prime number")

In [18]:
n=7
for i in range(2,20):
    product=n*i
    print('%d x %d=%d'% (n, i ,product))

7 x 2=14
7 x 3=21
7 x 4=28
7 x 5=35
7 x 6=42
7 x 7=49
7 x 8=56
7 x 9=63
7 x 10=70
7 x 11=77
7 x 12=84
7 x 13=91
7 x 14=98
7 x 15=105
7 x 16=112
7 x 17=119
7 x 18=126
7 x 19=133

In [27]:
row=5
for i in range(1, row + 1):
    for j in range(1,i +1):
         print("j", end='')
    print("")

j
jj
jjj
jjjj
jjjjj

In [4]:
row=5
for i in range(1,row+1):
    for j in range(1,i+1):
        print("j",end="")
    print("")
for i in range(1,row-1):
    for j in range(row,i-1):
        print("j",end='')
        print("")

j
jj
jjj
jjjj
jjjjj

In [ ]:
n=5
k=5
for i in range(0,n+1):
    for j in

In [22]:
rows=5
for i in range(0,rows):
    for j in range(0,i + 1):
        print("*" , end='')
    print(" ")
    
for i in range(rows, 0, -1):
    for j in range(0,i-1):
        print("*" , end='')
    print(" ")

*
**
***
****
*****
****
***
**
*

In [2]:
row=5
for i in range(0,row):
    for j in range(0,i+1):
        print("*",end='')
    print(" ")
for i in range(row,0,-1):
    for j in range(0,i-1):
        print("*",end="")
    print('')

*
**
***
****
*****
****
***
**
*

In [11]:
row=5
for i in range(0,row):
    for j in range(0,i+1):
        print("*",end='')
    print('')
for i in range(row,0,-1):
    for j in range(0,i-1):
        print("*",end='')
    print('')

*
**
***
****
*****
****
***
**
*

In [5]:
row=5
for i in range(0,row):
    for j in range(0,i+1):
        print("#",end="")
    print("")
for i in range(row,0,-1):
    for i in range(0,i-1):
        print("#",end="")
    print("")

#
##
###
####
#####
####
###
##
#

In [7]:
row=5
for i in range(0,row+1):
    for j in range(0,i+1):
        print("*",end='')
    print("")
for i in range(row,0,-1):
    for j in range(0,i-1):
        print("*",end='')
    print('')

*
**
***
****
*****
******
****
***
**
*

In [23]:
fruits=["apple","banana","cherry"]
newlist=[]

for x in fruits:
    if "a" in x:
        newlist.append(x)
print(newlist)

['apple', 'banana']

In [27]:
fruits+["apple","banana","cherry","kiwi","mango"]
newlist=[x for x in fruits if "a" in x ]
print(newlist)

['apple', 'banana']

In [26]:
newlist2=[x for x in fruits if x!="apple"]
print(newlist2)

['banana', 'cherry']

In [28]:
newlist3=[x for x in fruits]
print(newlist3)

['apple', 'banana', 'cherry']

In [29]:
newlist4=[x*x for x in range(10)]
print(newlist4)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
newlist4=[]

In [32]:
for key,value in enumerate(['The','Big','Bang','Theory']):
     print(key,value)

0 The
1 Big
2 Bang
3 Theory

In [38]:
grocery=['bread','milk','butter']
enumerateGrocery=enumerate(grocery)
print(type(enumerateGrocery))
enumerateGrocery=enumerate(grocery,10)
print(list(enumerateGrocery))

<class 'enumerate'>
[(10, 'bread'), (11, 'milk'), (12, 'butter')]

In [42]:
quastions=['name','color','shape']
answer=['apple','red','a cercle']
for question,answer in zip(quastions,answer):
    print('what is your{0}? iam {1}.'.format(question,answer))

what is yourname? iam apple.
what is yourcolor? iam red.
what is yourshape? iam a cercle.

In [19]:
list=[1,3,5,6,2,1,3]
print("the list in sorted order is: ")
for i in sorted(list):
    print (i, end="")
print("/r")
print("the list in sorted order(without duplications)is: ")
for i in sorted(set(list)):
    print(i, end="")

the list in sorted order is:
1123356/r
the list in sorted order(without duplications)is:
12356

In [7]:
list=[1,3,5,6,7,8]
print("the list reverse order is")
for i in reversed(list):
    print(i , end="")

the list reverse order is
876531

In [18]:
row=5
for i in range(0,row):
    for j in range(0,i+1):
        print("*",end="")
    print('')
for i in range(row,0,-1):
    for j in range(0,i-1):
        print("*",end='')
    print('')

*
**
***
****
*****
****
***
**
*